<!DOCTYPE html>
<html>
    <head>
        <link rel="apple-touch-icon icon shortcut" type="image/png" href="https://plugin.intuitcdn.net/sbg-web-shell-ui/6.3.0/shell/harmony/images/QBOlogo.png">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="common.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script>

            var config = {
                authUri: '',
                redirectUri: '{{{ redirect_uri }}}'
            }
            var OAuthCode = function(config) {
                this.config = config;
                this.loginPopup = function () {
                    this.loginPopupUri();
                }
                this.loginPopupUri = function () {

                    $.get('/authUri', function (uri) {
                        config.authUri = uri

                    }).then(function () {

                        // Launch Popup
                        var parameters = "location=1,width=800,height=650";
                        parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;

                        console.log("Yhe config authUri is :"+config.authUri);
                        var win = window.open(config.authUri, 'connectPopup', parameters);
                        var pollOAuth = window.setInterval(function () {
                            try {
                                console.log("The window URL is :" + win.document.URL);
                                if (win.document.URL.indexOf("code") != -1) {
                                    window.clearInterval(pollOAuth);
                                    win.close();
                                    location.reload();
                                }
                            } catch (e) {
                                console.log(e)
                            }
                        }, 100);

                    });
                }
            }

            var WebhooksDemo = function() {
                this.createCustomer = function(displayName) {
                    console.log("The display name is :"+displayName);
                    $.post('/createCustomer', {displayName: displayName}, function(data) {
                        var json = JSON.stringify(data, null, '  ');
                        $( '#createCustomer' ).html( json );
                    });
                }
            }

            var oauth = new OAuthCode(config);
            var hooks = new WebhooksDemo();
        </script>
    </head>
    <body>

        <div class="container">
            <hr />
            <div class="well text-center">

                <h3>Quota</h3>

                <br>

            </div>
            {{#if token_json}}
            <h4 class="bg-success">Client Authorized</h4>
            {{else}}
            <a class="btn btn-lg btn-success" href="#" onclick="oauth.loginPopup()">Authorize Client</a>
            {{/if}}
            <!-- <hr />

            <input type="text" id="displayName" name="displayName" value="" placeholder="Consumer Name">
            <a class="btn btn-primary btn-sm" value="Create Consumer" role="button" onclick="hooks.createCustomer($('#displayName').val());">Create Consumer</a> -->

            <hr />

        </div>
    </body>
</html>
